@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  color: #0e2839;
}

.header {
  padding: 0 4.8rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(202, 202, 202);
}

.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 3.8rem;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Hero and Service Section Start
======================================= */
.section-hero{
  padding: 9.6rem 0;
  filter: blur(5px);
  background-image: url("/static/images/bg1.jpg");
  height: 90vh;
  background-size: 100% 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;

} 

.bg-text{
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  overflow-x: hidden;

}
.bg-text h1{
  font-size: 65px;
  line-height: 90px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("/static/images/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.section-services {
  padding: 9.6rem 0;
  background-color: #a5d8ff;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background: #f3f0ff;
}


.section-container{ 
  text-align: center; 
  /* position: absolute;  */
  /* top: 105%;  */
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%; 
} 

.card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 50px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


.about-us{
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  justify-content: center;
  background-image: url();  
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0e2839;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
}

.contact-us{
  background-color: #0e2839;
  color: white;
}


.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.connect-btn{
  margin: 0 auto;
}



.services-heading1 {
  font-weight: bold;
  color: black;
  animation-name: rightToLeft;
  animation-duration: 5.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(-800px);
  }
}

.services-heading2 {
  font-weight: bold;
  color: black;
  animation-name: leftToRight;
  animation-duration: 5.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes leftToRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(900px);
  }
}




.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 60vh;
    background: #ede2b8;
    position: absolute;
    margin-top: 300px;
    padding-bottom: auto;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }
  .about-us-para{
    margin-top: 1300px;
  }

}