<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.rtl.min.css" integrity="sha384-5/ZcxA7Dub2FNG09dHw8CHmPN7Fz6ASlweagj0nuXjmMyupgH9n9F5Hd926zsu3/" crossorigin="anonymous">
</head>
<body style="background-color:#DEB887;">

  
    <form class="container" method="POST" enctype="multipart/form-data">
      
      <div class="card w-75 mt-5 mx-auto">
        <div style="background-color:#CD853F" class= "w-100">
          <h2 class="text-center" style="color:	#5C4033">Company Registration</h2>
        </div>
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                <div class="alert alert-{{message.tags}}" role="alert">
                    <strong>Message</strong> {{message}}
                  </div>
                {% endfor %}
            </ul>
            {% endif %}
       
            <div class="card-body container w-75">
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label">company Name</label>
          <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">contact number:</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="number" aria-describedby="emailHelp" required>
          </div>
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">DETAILS</label>
            <textarea type="text" class="form-control" id="exampleInputPassword1" name="details" required></textarea>
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">ADDRESS</label>
            <textarea type="text" class="form-control" id="exampleInputPassword1" name="address" required></textarea>
          </div>
          <div class="mb-2">
            <label for="image" class="form-label">choose an image</label>
            <input type="file"  class="form-control" name="image" id="" required>
          </div>
          <div class="text-center" >
        <button type="submit" class="btn "  style="background-color:	#CD853F; color:#5C4033">Submit</button>
      </div>

      </div>
    </div>
      </form>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html> 

